<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>url</key>
					<string>http://10.202.1.42/images/download/tf-b.png</string>
					<key>kind</key>
					<string>full-size-image</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://10.202.1.42/images/download/tf-s.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://www.thankfund.com/download/app/ThankFund.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>display-image</key>
				<string>http://10.202.1.42/images/download/tf-s.png</string>
				<key>full-size-image</key>
				<string>http://10.202.1.42/images/download/tf-b.png</string>
				<key>bundle-identifier</key>
				<string>com.sinping.ThankFundC</string>
				<key>bundle-version</key>
				<string>1.0.7</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>Thank Fund</string>
				<key>title</key>
				<string>Thank Fund</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
